<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
          <ul>
            <li>
              <a href="#">
                <font color="black">Vegetáriánus</font>
              </a>
            </li>
            <li>
              <a href="#">
                <font color="black">Vegán</font>
              </a>
            </li>
            <li>
              <a href="#">
                <font color="black">Nyersvegán</font>
              </a>
            </li>
            <li>
              <a href="#">
                <font color="black">Gluténmentes</font>
              </a>
            </li>
            <li>
              <a href="#">
                <font color="black">Laktozmentes</font>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page"></a>
            </li>
          </ul>

        </nav>
       
      </h1>
      <h2 class="subtitle">
          <div class="columns is-mobile">
              <div class="column"><img src="http://1.bp.blogspot.com/-l6nZ1yYRxGs/VpZDi73JW3I/AAAAAAAAC1U/7xtDB7RrYII/s1600/5FBE0F77-F7CF-4FCA-B3F4-B031B2F777E6.jpg"></div>
              <div class="column"><img src="http://4.bp.blogspot.com/-R1gVO4ETLEw/VpZF2r4pKrI/AAAAAAAAC_E/Vm76a0wX3y8/s1600/IMG_5025.jpg"></div>
              <div class="column"> <img src="http://1.bp.blogspot.com/-elXdnmTNPbg/VpZFyC9--hI/AAAAAAAAC9A/lqnKzLoddeE/s1600/IMG_4612.jpg"></div>
              <div class="column">  <img src="http://4.bp.blogspot.com/-eS8_Q7gwzHE/VpZF4rRk6tI/AAAAAAAAC_I/r0JFz34GTAs/s1600/IMG_5096.jpg"></div>
            </div>
            <div class="columns is-mobile">
                <div class="column"><img src="https://3.bp.blogspot.com/-MoDTk65xvic/WnhoufjXGWI/AAAAAAAAWwQ/z_nIc5z-mwgM2_fxbAJ_a4rKi1ZIA3GaACLcBGAs/s1600/IMG_8767.JPG"></div>
                <div class="column"><img src="https://2.bp.blogspot.com/-vMlLYQfWiyQ/VsY2HL9RRII/AAAAAAAADMA/SimLiIlycMI/s1600/IMG_0871%2B%25286%2529.jpg"></div>
                <div class="column"> <img src="https://4.bp.blogspot.com/-wIm6VrZtkMA/VsY2EtjlUrI/AAAAAAAADL8/PhkQZibP3Sc/s1600/IMG_0478%2B%25281%2529.jpg"></div>
                <div class="column">  <img src="https://3.bp.blogspot.com/-D_s9VNzXqk8/WHvGGez4d1I/AAAAAAAAEgo/v8KKBZZZaLY7TymTbU-iXVa00b58LsVqACLcB/s1600/IMG_8904.JPG"></div>
              </div>
      

       
      </h2>


    </div>
  </div>
</section>
